@use '../utils/_colors.scss' as c;
@use '../utils/_fonts.scss' as f;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&family=Nunito:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: c.$Bg-Color;
  min-height: 100vh;
  font-family: f.$Nunito;
  margin-top: 4rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  max-width: 768px;
}
