@use '../utils/_colors.scss' as c;
@use '../utils/_fonts.scss' as f;
@use '../components/_forms.scss' as comF;
@use '../components/_buttons.scss' as comB;

.signin {
  &__form {
    @include comF.auth-form;

    &-container {
      border-radius: .5rem;
      border: 2px solid c.$Pink-Color;
      display: grid;
      grid-template-columns: 2.5rem auto;
    }

    &-input {
      @include comF.input-form;
    }

    &-icon {
      color: c.$White-Color;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
    }

    &-remember {
      display: flex;
      column-gap: 1rem;
      align-items: center;

      & input {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        outline: none;
      }

      & label {
        color: c.$White-Color;
        font-size: 1.2rem;
        font-weight: 600;
      }
    }

    &-btn {
      @include comB.auth-btns;
    }

    &-register {
      text-align: center;
      color: c.$White-Color;
      font-size: 1.2rem;
      font-weight: 500;
      font-family: f.$Josefin;
      margin-top: 1rem;

      & a {
        color: c.$Pink-Color;
        transition: all .3s;
        text-decoration: underline;

        &:hover {
          color: c.$White-Color;
        }
      }
    }
  }
}
