{% extends "base.html" %}

{% block content %}
<section class="signin container section">
  <div class="signin__forms">
    <form class="signin__form" method="POST" action="">
      {{ form.csrf_token }}
      <div class="signin__form-container">
        <i class='bx bx-user signin__form-icon'></i>
        {{ form.username(class_='signin__form-input', autocomplete='off',
        placeholder='Username') }}
      </div>
      <div class="signin__form-container">
        <i class='bx bx-lock-alt signin__form-icon'></i>
        {{ form.password(class_='signin__form-input', placeholder='Password') }}
      </div>
      {{ form.submit(class_='signin__form-btn') }}
      <p class="signin__form-register">
        New User?
        <a href="{{ url_for('auth.signup') }}">
          Click to Register!
        </a>
      </p>
    </form>
  </div>
</section>
{% endblock content %}
