{% extends "base.html" %}

{% block content %}
<section class="signin">
  <div class="signin__forms">
    <form class="signin__form" method="POST" action="">
      {{ form.csrf_token }}
      <div class="signin__form-container">
        <i class='bx bx-user signin__form-icon'></i>
        {{ form.username(class_='signin__form-input', autocomplete='off') }}
      </div>
      <div class="signin__form-container">
        <i class='bx bx-lock-alt signin__form-icon'></i>
        {{ form.password(class_='signin__form-input') }}
      </div>
      <div class="signin__form-remember">
        {{ form.remember_me() }} {{ form.remember_me.label }}
      </div>
      {{ form.submit(class_='signin__form-btn') }}
    </form>
  </div>
</section>
{% endblock content %}
