<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% if title %}
      {{ title }} - JWT Generator
      {% else %}
      JWT Generator
      {% endif %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- BOX ICONS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- STYLES CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <header class="header">
      <nav class="nav container">
        <a href="{{ url_for('main.index') }}" class="nav__logo">
          JWTG
        </a>
        <div class="nav__menu" id="navMenu">
          <ul class="nav__list">
            {% if current_user.is_anonymous %}
            <li class="nav__item">
              <a href="{{ url_for('main.index') }}" class="nav__link">
                Home
              </a>
            </li>
            <li class="nav__item">
              <a href="" class="nav__link">Docs</a>
            </li>
            <li class="nav__item">
              <a href="{{ url_for('auth.signin') }}" class="nav__link">
                Sign In
              </a>
            </li>
            <li class="nav__item">
              <a href="{{ url_for('auth.signup') }}" class="nav__link">
                Sign Up
              </a>
            </li>
            {% else %}
            <li class="nav__item">
              <a
                href="{{ url_for('user.profile', username=current_user.username) }}"
                class="nav__link"
              >
                {{ current_user.username }}
              </a>
            </li>
            <li class="nav__item">
              <a href="" class="nav__link">Docs</a>
            </li>
            <li class="nav__item">
              <a href="{{ url_for('auth.logout') }}" class="nav__link">
                Logout
              </a>
            </li>
            {% endif %}
          </ul>
          <div class="nav__close" id="navClose">
            <i class='bx bx-x nav__icon'></i>
          </div>
        </div>
        <div class="nav__toggle" id="navToggle">
          <i class='bx bx-menu nav__icon'></i>
        </div>
      </nav>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="messages container" id="messages">
    {% for category, message in messages %}
      <li class="messages__{{ category }}">
        <span class="messages__text">{{ message }}</span>
      </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <main class="main">
    {% block content %} {% endblock content %}
    </main>

    <!-- SCRIPT JS -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
